body{
    background-image: url('https://media1.tenor.com/m/uqoLnkzmNLIAAAAC/fortnite-fortnite-br.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}

h1{
    font-family: Helvetica;
    text-align: center;
    margin-bottom: 0;
    font-size: 200;
    font-style: oblique;
    color: rgb(255, 255, 255);
}

h2{
    font-family: Helvetica;
    text-align: center;
    margin-top: 0;
    font-style: italic;
}