/*custom font from apple (DONT TELL THEM LMFAO)*/
@font-face { 
  font-family: SFdisplay-black; src: url('/fonts/SFUIDisplay-Black.otf'); 
}
@font-face{
  font-family: SFdisplay-bold; src: url('/fonts/SFUIDisplay-Bold.ttf');
}
@font-face{
  font-family: SFdisplay-heavy; src: url('/fonts/SFUIDisplay-Heavy.otf'); 
}
@font-face{
  font-family: SFdisplay-light; src: url('/fonts/SFUIDisplay-Light.ttf');
}
@font-face{
  font-family: SFdisplay-medium; src: url('/fonts/SFUIDisplay-Medium.otf');
}
@font-face{
  font-family: SFdisplay-regular; src: url('/fonts/SFUIDisplay-Regular.otf');
}
@font-face{
  font-family: SFdisplay-semibold; src: url('/fonts/SFUIDisplay-Semibold.otf');
}
@font-face{
  font-family: SFdisplay-thin; src: url('/fonts/SFUIDisplay-Thin.otf');
}
@font-face{
  font-family: SFdisplay-ultralight; src: url('/fonts/SFUIDisplay-Ultralight.otf');
}


body{
    background: linear-gradient(215deg,#0be718,#7f0be7,#0f0915);
    background-size: 180% 180%;
    animation: gradient-animation 3s ease-in-out infinite;
  }



  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

a:link {
  color: rgb(208, 147, 235);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(213, 203, 218);
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(135, 122, 255);
  background-color: transparent;
  text-decoration: none;
}


h1{
    font-family: 'SFdisplay-black';
    text-align: center;
    margin-bottom: 0;
    font-size: 125;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

h2{
    font-family: 'SFdisplay-ultralight';
    text-align: center;
    margin-top: 0;
    color: rgb(255, 255, 255);
}

a{
    color: rgb(191, 19, 243);
}

.contentsaa{
  font-family: 'SFdisplay-medium';
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 50;
  color: rgb(255, 255, 255);
}

.contentsa{
  font-family: 'SFdisplay-medium';
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10%;
  font-weight: bold;
  font-size: 50;
  color: rgb(255, 255, 255);
}

.contentsb{
  font-family: 'SFdisplay-light';
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10%;
  font-weight: bold;
  font-size: 25;
  color: rgb(255, 255, 255);
}


.h2butbigger{
    font-family: Helvetica;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    color: rgb(255, 255, 255);
    font-size: 1000%;
}


.imagecenter{
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    
}

.imagecenter2{
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}


.description{
    font-family: Helvetica;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-right: 10%;
}
/* this is a comment*/